<div class="container">

    <div class="container-lesson">
        <div class="row">
            <h1>课程导航</h1>
            <a href="/index/lists/catid/41.html" class="look-more1">查看更多</a>
            <br>

            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="images/lesson/class4.jpg" alt="..."></a>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="images/lesson/class4.jpg" alt="..."></a>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="images/lesson/class4.jpg" alt="..."></a>
            </div>

            <div class="col-sm-6 col-md-3">
                <a href="#"><img src="images/lesson/class4.jpg" alt="..."></a>
            </div>


        </div>
    </div>



    <div class="container-teach">
        <div class="row">
            <h1>师资团队</h1>
            <a href="/index/lists/catid/41.html" class="look-more1">查看更多</a>
            <br/>
            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="images/team/team1.jpg" alt="...">
                    <div class="caption">
                        <h5>林海滨</h5>
                        <p>独立电子音乐人精通电子音乐制作的各个环节。
                            与black wing .Eico desgine.以及各大音乐公司合作</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="images/team/team2.jpg" alt="...">
                    <div class="caption">
                        <h5>林海滨</h5>
                        <p>独立电子音乐人精通电子音乐制作的各个环节。
                            与black wing .Eico desgine.以及各大音乐公司合作</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="images/team/team3.jpg" alt="...">
                    <div class="caption">
                        <h5>林海滨</h5>
                        <p>独立电子音乐人精通电子音乐制作的各个环节。
                            与black wing .Eico desgine.以及各大音乐公司合作</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    <img src="images/team/team4.jpg" alt="...">
                    <div class="caption">
                        <h5>林海滨</h5>
                        <p>独立电子音乐人精通电子音乐制作的各个环节。
                            与black wing .Eico desgine.以及各大音乐公司合作</p>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>