
<link rel="stylesheet" type="text/css" href="css/layout.css" />
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/common.js"></script>

<div class="suspend">
    <dl>
        <dt class="IE6PNG"></dt>
        <dd class="suspendQQ"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=742525070&amp;site=qq&amp;menu=yes" target="_blank"></a></dd>
        <dd class="suspendTel"><a href="javascript:void(0);"></a></dd>
    </dl>
</div>


<script type="text/javascript">
    Common.init();
</script>