
<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">

        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Music 2017
                </div>
            </div>
        </div>
    </div>
</footer>
